body {
    padding: 0;
    margin: 0;
    font-family: 微软雅黑;
    overflow-x: hidden;
}

img {
    border: 0;
}

.w1259 {
    min-width: 1259px;
}

header > .nav {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav2 {
    background: rgba(0, 0, 0, 1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000, endColorstr=#B2000000);
    margin-bottom: 4px;
}

.links {
    float: right;
    margin-right: 100px;
    margin-right: 0px \9;
    margin-top: 20px;
}

.links a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

.banner {
    background: url(../images/banner.png) center center;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    margin-top: -4px;
    text-align: left;
    color: #fff;
}

.banner p {
    font-size: 22px;
    padding-top: 120px;
    text-align: center;
}

.banner h1 {
    font-size: 42px;
    text-align: center;
    font-weight: 900;
    margin: 10px 0px 30px 0px;
}

.banner .brief {
    width: 630px;
    font-size: 14px;
    line-height: 24px;
    margin: 0 auto;
}

.banner .button {
    width: 520px;
    text-align: center;
    margin: 200px auto 0;
    font-size: 16px;
}

.logo {
    margin: 10px 100px;
    float: left;
}

.logo img {
    width: 160px;
}

.banner a {
    border-radius: 23px;
    padding: 12px 44px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid #fff;
}

.links a {
    padding: 2px;
    font-size: 16px;
}

.links a.free-register {
    font-size: 16px;
    padding: 4px;
}

.links a:hover {
    border-bottom: solid 3px #fff;
}

.body section > div {
    text-align: center;
}

.body section {
    padding: 30px 0px;
}

.body section .content {
    margin-top: 10px;
}

.body section .title {
    font-size: 28px;
    color: #474747;
    line-height: 60px;
}

.body section .sub-title {
    font-size: 14px;
    color: #949494;
    line-height: 24px;
}

.body section .btns {
    line-height: 50px;
    margin-top: 46px;
}

.body section .next img {
    padding: 0;
    cursor: pointer;
}

.body section .btns a {
    margin: 0 15px;
    cursor: pointer;
    text-decoration: none;
}

.btn {
    padding: 10px 18px;
    font-size: 18px;
    border-radius: 30px;
}

.btn-primary {
    background: #ff674a;
    color: #FFF;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/*sec1*/
.sec1 {
    background: #f5fffe;
}

.a {
    width: 150px;
    margin: 0px 70px;
}

.a .background {
    width: 100%;
    height: 150px;
    background: url("../images/background.png");
    background-repeat: no-repeat;
}

.a .background1 {
    background-position: -4px -8px;
}

.a .background2 {
    background-position: -150px -8px;
}

.a .background3 {
    background-position: -296px -8px;
}

.a .background4 {
    background-position: -446px -8px;
}

.a h1 {
    font-size: 18px;
    color: #666666;
    line-height: 36px;
}

.a p {
    font-size: 14px;
    color: #999999;
    line-height: 24px;
}

/*sec2*/
.sec2 {
    background: #fff;
}

.sec2 .content {
    margin-top: 120px;
}

.b {
    width: 180px;
    height: 290px;
    padding-top: 70px;
    border: 1px solid;
    position: relative;
    margin: 90px 16px 0px 16px;
}

.b.one {
    border-color: #00b7ee;
}

.b.two {
    border-color: #fbae5c;
}

.b.three {
    border-color: #ff72b3;
}

.b.four {
    border-color: #3de3e1;
}

.b.five {
    border-color: #77d986;
}

.b .background {
    width: 126px;
    height: 126px;
    position: absolute;
    top: -60px;
    left: 30px;
    background: url("../images/background.png");
    background-repeat: no-repeat;
}

.b .background1 {
    background-position: -10px -159px;
}

.b .background2 {
    background-position: -144px -159px;
}

.b .background3 {
    background-position: -277px -159px;
}

.b .background4 {
    background-position: -411px -159px;
}

.b .background5 {
    background-position: -544px -159px;
}

.b h1 {
    font-size: 24px;
    color: #474747;
    line-height: 50px;
}

.b p {
    font-size: 16px;
    color: #999999;
    line-height: 26px;
}

.b a.btn {
    display: inline-block;
    width: 110px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    padding: 0px;
    font-size: 16px;
    margin-top: 12px;
    color: #fff;
}

.b.one a.btn {
    background: #50d6ff;
}

.b.two a.btn {
    background: #fbae5c;
}

.b.three a.btn {
    background: #ff72b3;
}

.b.four a.btn {
    background: #3de3e1;
}

.b.five a.btn {
    background: #77d986;
}

/*sec3*/
body .sec3 {
    padding: 0px;
    font-size: 0px;
    position: relative;
}

.sec3 .wrap {
    position: relative;
    width: 100%;
    height: 450px;
    background: url("../images/ad.png") center center no-repeat;
    background-size: cover;
}

.sec3 .btns {
    position: absolute;
    left: 50%;
    margin-left: -210px;
    bottom: 20px;
}

.sec3 .btn-primary {
    background: #13c8ff;
}

/*sec4*/
.sec4 {
    background: #f5f5f5;
}

.sec4 .left, .sec4 .right {
    height: 300px;
    vertical-align: middle;
}

.sec4 .left {
    width: 520px;
}

.sec4 .right {
    width: 460px;
}

.sec4 .right {
    background: url("../images/making.png") center center no-repeat;
}

.sec4 .word {
    display: inline-block;
    width: 420px;
    font-size: 14px;
    line-height: 24px;
    color: #949494;
    text-align: left;
}

/*sec5*/
div.live-btn {
    width: 1043px;
    height: auto;
    margin: 0 auto;
}

.live-btn-box > li {
    width: 180px;
    height: 128px;
    border-radius: 3px;
    float: left;
    margin: 13px;
}

/*    */
.flip-container {
    perspective: 1000px;
    -webkit-perspective: 1000px;
    /*           perspective         ?  */
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    *perspective: 1000px;
    perspective: 1000px;
    /*margin:0px auto; float:left; margin-left:20px; margin-bottom:20px; border:1px solid #fff;*/
}

.flip-container:hover .back {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    z-index: 2;
    *transform: rotateY(0deg);
}

.flip-container:hover .front {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    z-index: 1;
}

.front {
    width: 100%;
    height: 100%;
    border: 1px solid #b5b9bc;
    background-color: #fff;
}

.back {
    width: 100%;
    height: 100%;
    background-color: #33ccff;
    color: #fff;
    font-size: 14px
}

.back > div {
    width: auto;
    height: auto;
    margin: 20px 10px 0;
}

.flipper {
    transition: transform .8s ease-in-out;
    -webkit-transition: transform .8s ease-in-out;
    -moz-transition: transform .8s ease-in-out;
    -ms-transition: transform .8s ease-in-out;
    -o-transition: transform .8s ease-in-out;
    *transition: transform .8s ease-in-out;
    -webkit-transform-style: preserve-3d;
    /*?      任    ?    3d?     λ  */
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    *transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    perspective: 500px;
    -webkit-perspective: 500px;
}

.front, .back {
    backface-visibility: hidden;
    transition: 0.6s ease-out;
    -webkit-transition: .6s ease-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    *transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}

.front img, .back img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    *transform: rotateY(0deg);
}

.back {
    z-index: 1;
    transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.flip-container .flipper .btn-pic {
    width: 47px;
    height: 40px;
    margin: 20px 0 0 68px;
}

.flip-container .flipper .front p {
    margin-top: 20px;
    color: #474747;
    font-size: 14px;
}

.flip-container .flipper .p1 {
    background: url("../images/01.png") no-repeat -368px -575px;
}

.flip-container .flipper .p2 {
    background: url("../images/01.png") no-repeat -421px -573px;
}

.flip-container .flipper .p3 {
    background: url("../images/01.png") no-repeat -481px -572px;
}

.flip-container .flipper .p4 {
    background: url("../images/01.png") no-repeat -534px -570px;
}

.flip-container .flipper .p5 {
    background: url("../images/01.png") no-repeat -580px -573px;
}

.flip-container .flipper .p6 {
    background: url("../images/01.png") no-repeat -371px -622px;
}

.flip-container .flipper .p7 {
    background: url("../images/01.png") no-repeat -421px -625px;
}

.flip-container .flipper .p8 {
    background: url("../images/01.png") no-repeat -473px -628px;
}

.flip-container .flipper .p9 {
    background: url("../images/01.png") no-repeat -527px -624px;
}

.flip-container .flipper .pic10 {
    background: url("../images/01.png") no-repeat -583px -625px;
}

.flip-container .flipper .p11 {
    background: url("../images/01.png") no-repeat -370px -677px;
}

.flip-container .flipper .p12 {
    background: url("../images/01.png") no-repeat -418px -673px;
}

.flip-container .flipper .p13 {
    background: url("../images/01.png") no-repeat -473px -677px;
}

.flip-container .flipper .p14 {
    background: url("../images/01.png") no-repeat -528px -675px;
}

.flip-container .flipper .pic15 {
    width: 56px;
    background: url("../images/01.png") no-repeat -574px -674px;
}

/*sec6*/
.sec6 .content .cc {
    width: 160px;
    height: 200px;
    display: inline-block;
    line-height: 20px;
}

.sec6 .content .cc img {
    margin: 40px 0 20px;
}

.body .sec6 .content {
    margin-top: 0px;
}

/*sec7*/
.sec7 {
    background: #e4f8ff;
    position: relative;
}

.sec7 img {
    position: absolute;
    left: 50%;
    top: 130px;
    margin-left: -10px;
}

.sec7 .content {
    width: 800px;
    margin: 0px auto;
}

.sec7 .content > div {
    width: 50%;
    float: left;
}

.sec7 .content .right {
    margin-top: 30px;
}

.sec7 .content .item {
    width: 372px;
    height: 110px;
    margin-bottom: 20px;
}

.sec7 .content .left .item {
    background: url("../images/background.png") no-repeat -10px -658px;
}

.sec7 .content .right .item {
    background: url("../images/background.png") no-repeat -10px -778px;
}

.sec7 .item > div {
    display: inline-block;
    vertical-align: middle;
}

.sec7 .item .icon {
    width: 74px;
    height: 74px;
    margin: 16px 14px;
}

.sec7 .right .item .icon {
    margin-left: 22px;
}

.sec7 .item .word {
    width: 240px;
}

.sec7 .item .word h1 {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #333333;
}

.sec7 .item .word p {
    font-size: 14px;
    color: #999999;
}

.sec7 .item .left1 {
    background: url("../images/background.png") no-repeat -8px -292px;
}

.sec7 .item .left2 {
    background: url("../images/background.png") no-repeat -160px -292px;
}

.sec7 .item .left3 {
    background: url("../images/background.png") no-repeat -312px -292px;
}

.sec7 .item .left4 {
    background: url("../images/background.png") no-repeat -83px -371px;
}

.sec7 .item .left5 {
    background: url("../images/background.png") no-repeat -238px -372px;
}

.sec7 .item .right1 {
    background: url("../images/background.png") no-repeat -84px -292px;
}

.sec7 .item .right2 {
    background: url("../images/background.png") no-repeat -236px -292px;
}

.sec7 .item .right3 {
    background: url("../images/background.png") no-repeat -8px -372px;
}

.sec7 .item .right4 {
    background: url("../images/background.png") no-repeat -162px -371px;
}

.sec7 .item .right5 {
    background: url("../images/background.png") no-repeat -312px -372px;
}

.body .sec7 .btns {
    margin-top: 0px;
    position: relative;
    z-index: 10;
}

/*sec8*/
.sec8 .content {
    height: 465px;
    background: url("../images/fl.png") no-repeat center;
}

/*sec9*/
.sec9 .content {
    position: relative;
}

.sec9 .show {
    display: block;
    width: 460px;
    height: 286px;
    margin: 0px auto;
    border: 1px solid #e7e7e7;
    overflow: hidden;
    position: relative;
}

.sec9 .show:hover span {
    display: block;
}

.sec9 .show span {
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    background: rgba(0, 0, 0, .2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000);
    position: absolute;
    /*display: none;*/
}

.sec9 .show button {
    cursor: pointer;
    width: 116px;
    height: 34px;
    font-size: 16px;
    color: #fff;
    line-height: 34px;
    border-radius: 2px;
    background: #ff7e54;
    border: 0px;
    padding: 0px;
    margin-top: 126px;
}

.sec9 .swiper-container {
    width: 1000px;
    height: 292px;
    color: #fff;
    text-align: center;
}

.sec9 .pagination {
    display: none;
}

.sec9 .arrow-left {
    background: url("../images/arrows.png") no-repeat -6px -10px;
    position: absolute;
    left: 130px;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -550px;
    width: 30px;
    height: 40px;
}

.sec9 .arrow-right {
    background: url("../images/arrows.png") no-repeat -6px -64px;
    position: absolute;
    right: 130px;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: 510px;
    width: 30px;
    height: 40px;
}

.sec9 .swiper-slide a {
    cursor: default;
}

/*sec10*/
.sec10 {
    width: 100%;
    height: 440px;
    background: #9ae8ff;
}

.sec10 .title {
    height: 37px;
    background: url("../images/word.png") no-repeat center;
}

.sec10 .content {
    width: 1200px;
    height: 400px;
    margin: 0px auto;
}

.sec10 .left {
    float: left;
    width: 200px;
    height: 100%;
    background: #00b7ee;
    position: relative;
}

.sec10 .left img {
    width: 154px;
    height: 206px;
    position: absolute;
    left: 30px;
    top: -120px;
}

.sec10 .left p {
    color: #fff;
    padding: 0px 20px;
    margin-top: 130px;
    font-size: 14px;
}

.sec10 .right {
    float: left;
    width: 1000px;
    padding: 0px 10px 0px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    background: #bef0ff;
}

.sec10 .wrap li {
    width: 128px;
    height: 96px;
    float: left;
    background: #5f5f5f;
    text-align: center;
    margin: 40px 10px 0px 0px;
}

.sec10 .wrap li.yellow {
    background: #fff9dc;
}

.sec10 .wrap li.yellow p {
    color: #333333;
}

.sec10 .wrap li.yellow h1 {
    color: #a8bbc1;
}

.sec10 .wrap li h1 {
    font-size: 20px;
    color: #d6f6ff;
    margin: 14px 0px 6px 0px;
}

.sec10 .wrap li p {
    font-size: 18px;
    color: #fff;
}

/*sec11*/
.sec11 {
    height: 590px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: url("../images/background1.png") no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    position: relative;
}

.sec11 img {
    position: absolute;
    left: 50%;
    top: 110px;
    margin-left: -10px;
}

.sec11 .content {
    width: 760px;
    margin: 0px auto;
}

.sec11 .content > div {
    width: 50%;
    float: left;
}

.sec11 .item {
    width: 310px;
    height: 86px;
    margin-bottom: 40px;
    text-align: left;
}

.sec11 .word {
    font-size: 16px;
    color: #666;
    text-align: center;
    line-height: 32px;
    padding: 20px 70px 40px 30px;
}

.sec11 .left .item {
    padding: 0px 20px 0px 10px;
    background: url(../images/background.png) -10px 460px;
}

.sec11 .right .item {
    padding: 0px 10px 0px 20px;
    background: url(../images/background.png) -10px 369px;
}

.sec11 h1 {
    font-size: 18px;
    color: #313131;
    margin: 6px 0px 8px 0px;
}

.sec11 p {
    font-size: 14px;
    color: #999;
}

.body .sec11 .btns {
    margin-top: 0px;
    position: relative;
}

.sec11 .btn-primary {
    background: #00b7ee;
}

/*sec12*/

.body section.sec12 {
    padding: 0px;
}

.sec12 .wrap {
    width: 100%;
    height: 520px;
    background: #244056;
    position: relative;
}

.sec12 .bg {
    width: 1060px;
    height: 455px;
    background: url("../images/bg.png") center no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -530px;
    bottom: 0;
}

.sec12 .block {
    margin-bottom: 15px;
}

.sec12 h1 {
    font-size: 32px;
    color: #333;
    line-height: 80px;
}

.sec12 .left {
    position: absolute;
    left: 150px;
    top: 90px;
}

.sec12 .right {
    position: absolute;
    right: 225px;
    top: 220px;
    color: #fff;
    line-height: 30px;
}

.sec12 .block span {
    float: left;
}

.sec12 .lable {
    font-size: 14px;
    color: #666666;
    width: 90px;
    line-height: 28px;
    padding-left: 10px;
    text-align: right;
}

.sec12 .lable b {
    vertical-align: middle;
    line-height: 17px;
    margin-right: 2px;
}

.sec12 .info input {
    width: 278px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #c4c4c4;
}

.sec12 .info textarea {
    width: 278px;
    height: 100px;
    line-height: 28px;
    resize: none;
    overflow: hidden;
    border: 1px solid #c4c4c4;
}

.sec12 .btn {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    width: 120px;
    border-radius: 2px;
    margin-top: 10px;
    padding: 0;
}

/*sec13*/
.sec13 .content {
    width: 1000px;
    margin: 0px auto;
}

.body section.sec13 .content {
    margin-top: 24px;
}

.sec13 li {
    width: 250px;
    height: 180px;
    padding-top: 40px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
}

.sec13 li.bor-r {
    border-right: 1px solid #eee;
}

.sec13 li.bor-b {
    padding-top: 10px;
    border-bottom: 1px solid #eee;
}

.sec13 .wrap {
    width: 120px;
    margin: 0px auto;
}

.sec13 .wrap .image {
    width: 100%;
    height: 90px;
}

.sec13 .pic1 {
    background: url("../images/background2.png") no-repeat 0px -7px;
}

.sec13 .pic2 {
    background: url("../images/background2.png") no-repeat -110px -7px;
}

.sec13 .pic3 {
    background: url("../images/background2.png") no-repeat -224px -7px;
}

.sec13 .pic4 {
    background: url("../images/background2.png") no-repeat -340px -2px;
}

.sec13 .pic5 {
    background: url("../images/background2.png") no-repeat 0px -108px;
}

.sec13 .pic6 {
    background: url("../images/background2.png") no-repeat -110px -108px;
}

.sec13 .pic7 {
    background: url("../images/background2.png") no-repeat -224px -108px;
}

.sec13 .pic8 {
    background: url("../images/background2.png") no-repeat -340px -94px;
}

.sec13 h1 {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}

/*sec14*/
.sec14 .content {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.body section.sec14 .content {
    margin-top: 24px;
}

.sec14 li {
    display: inline-block;
    width: 204px;
    height: 130px;
    margin: 0px 16px 30px 0px;
}

.sec14 .wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.sec14 p {
    width: 100%;
    font-size: 16px;
    color: #ffff00;
    line-height: 38px;
    text-align: center;
    background: rgba(0, 0, 0, .4);
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.sec14 .bg1 {
    background: url("../images/background2.png") no-repeat 0px -202px;
}

.sec14 .bg2 {
    background: url("../images/background2.png") no-repeat -212px -202px;
}

.sec14 .bg3 {
    background: url("../images/background2.png") no-repeat -426px -202px;
}

.sec14 .bg4 {
    background: url("../images/background2.png") no-repeat -640px -202px;
}

.sec14 .bg5 {
    background: url("../images/background2.png") no-repeat -852px -202px;
}

.sec14 .bg6 {
    background: url("../images/background2.png") no-repeat 0px -336px;
}

.sec14 .bg7 {
    background: url("../images/background2.png") no-repeat -212px -336px;
}

.sec14 .bg8 {
    background: url("../images/background2.png") no-repeat -426px -336px;
}

.sec14 .bg9 {
    background: url("../images/background2.png") no-repeat -640px -336px;
}

.sec14 .bg10 {
    background: url("../images/background2.png") no-repeat -852px -336px;
}

.sec14 .bg10 p {
    color: #00c0ff;
    bottom: 46px;
    background: none;
}

.body section.sec14 .btns {
    margin-top: 0px;
}

/*sec15*/
.sec15 {
    background: #f5f5f5;
}

.sec15 .content {
    position: relative;
}

.sec15 .show {
    display: inline-block;
    vertical-align: middle;
    width: 162px;
    height: 226px;
    margin: 0px 20px;
    background: url("../images/background2.png") no-repeat 0px -530px;
}

.sec15 .cer {
    display: inline-block;;
    width: 134px;
    height: 192px;
    margin-top: 17px;
}

.sec15 .cer1 {
    background: url("../images/background2.png") no-repeat -170px -530px;
}

.sec15 .cer2 {
    background: url("../images/background2.png") no-repeat -312px -530px;
}

.sec15 .cer3 {
    background: url("../images/background2.png") no-repeat -451px -530px;
}

.sec15 .cer4 {
    background: url("../images/background2.png") no-repeat -592px -530px;
}

.sec15 .cer5 {
    background: url("../images/background2.png") no-repeat -732px -530px;
}

.sec15 .swiper-container {
    width: 1010px;
    height: 280px;
    color: #fff;
    text-align: center;
}

.sec15 .pagination {
    display: none;
}

.sec15 .arrow-left {
    background: url("../images/arrows.png") no-repeat -6px -10px;
    position: absolute;
    left: 130px;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -560px;
    width: 30px;
    height: 40px;
}

.sec15 .arrow-right {
    background: url("../images/arrows.png") no-repeat -6px -64px;
    position: absolute;
    right: 130px;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: 530px;
    margin-top: -60px;
    width: 30px;
    height: 40px;
}

.body section.sec15 .btns {
    margin-top: -20px;
}

/*sec16*/
.sec16 .wrap {
    position: relative;
    height: 482px;
    padding-top: 100px;
}

.sec16 .mask {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 174, 255, 0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C00aeff, endColorstr=#4C00aeff);
    z-index: 20;
}

.sec16 .mask p {
    font-size: 50px;
    color: #ff3548;
    font-weight: bold;
    line-height: 540px;
}

.sec16 .org {
    display: none;
    opacity: 0.1;
    width: 1126px;
    height: 482px;
    position: absolute;
    background: url(../images/org.png) center no-repeat;
    left: 50%;
    top: 50%;
    margin-top: -241px;
    margin-left: -563px;
    z-index: 20;
    transform: scale(3);
    -ms-transform: scale(3); /* IE 9 */
    -moz-transform: scale(3); /* Firefox */
    -webkit-transform: scale(3); /* Safari    Chrome */
    -o-transform: scale(3);
}

.sec16 .org.active {
    opacity: 1;
    margin-top: -241px;
    margin-left: -563px;
    transform: scale(1);
    -ms-transform: scale(1); /* IE 9 */
    -moz-transform: scale(1); /* Firefox */
    -webkit-transform: scale(1); /* Safari    Chrome */
    -o-transform: scale(1);
    transition: .8s;
    -moz-transition: .8s; /* Firefox 4 */
    -webkit-transition: .8s; /* Safari    Chrome */
    -o-transition: .8s; /* Opera */
}

/*footer*/
.footer {
    background: #1f2228;
}

.footer .info {
    width: 1200px;
    margin: 0px auto;
    padding: 30px 0px 20px 0px;
}

.footer .left {
    float: left;
    text-align: left;
}

.footer .right {
    float: right;
    text-align: right;
}

.footer .left h1 {
    font-size: 24px;
    line-height: 32px;
    color: #ececec;
}

.footer .left p {
    font-size: 14px;
    line-height: 24px;
    color: #939393;
}

.footer .tab-box span {
    width: 120px;
    height: 46px;
    margin: 20px 10px 0px 0px;
}

.footer .tab1 {
    background: url("../images/background2.png") no-repeat 0px -474px;
}

.footer .tab2 {
    background: url("../images/background2.png") no-repeat -130px -474px;
}

.footer .tab3 {
    background: url("../images/background2.png") no-repeat -260px -474px;
}

.footer .tab4 {
    background: url("../images/background2.png") no-repeat -390px -474px;
}

.footer .tab5 {
    background: url("../images/background2.png") no-repeat -520px -474px;
}

.footer .right p {
    font-size: 14px;
    color: #939393;
}

.footer .right p a {
    font-size: 14px;
    color: #939393;
    transition: all .8s;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
}

.footer .right p a:hover {
    color: #fff;
}

.footer .right p span {
    margin: 0px 10px;
}

.footer .copr {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #939393;
    text-align: center;
    background: #191b20;
}

/*sec16*/
body section.sec16 {
    padding: 0px;
    width: 100%;
    position: relative;
}

.sec16 .btns {
    position: absolute;
    bottom: 40px;
    z-index: 10;
    left: 50%;
    margin-left: -210px;
}

.sec16 .btn {
    border-radius: 3px;
    background: #ff421b;
}

/*section17*/
.sec17 .content .user {
    display: inline-block;
}

.sec17 .content {
    height: 220px;
    width: 100%;
    text-align: center;
}

.sec17 img {
    padding: 20px 50px;
}

/*sec18*/
.body section.sec18 .content {
    margin-top: 40px;
}

.sec18 .relative {
    position: relative;
    margin: 0px auto;
    width: 780px;
    height: 320px;
}

.sec18 .relative a {
    text-decoration: none;
    color: #8c8c8c;
    position: absolute;
}

.sec18 .link1 {
    top: -7px;
    left: 40px;
}

.sec18 .link2 {
    top: 70px;
    left: 30px;
}

.sec18 .link3 {
    top: 134px;
    left: 20px;
}

.sec18 .link4 {
    top: 204px;
    left: 40px;
}

.sec18 .link5 {
    top: 270px;
    left: 70px;
}

.sec18 .link6 {
    top: -7px;
    right: 60px;
}

.sec18 .link7 {
    top: 70px;
    right: 10px;
}

.sec18 .link8 {
    top: 134px;
    right: -60px;
}

.sec18 .link9 {
    top: 204px;
    right: 20px;
}

.sec18 .link10 {
    top: 270px;
    right: -10px;
}

/*sec19*/
.live div.online-btn {
    width: 1062px;
    height: auto;
    margin: 20px auto;
}

.online-btn .online-btn-box > li {
    width: 175px;
    height: 125px;
    border-top: 1px solid #b5b9bc;
    border-left: 1px solid #b5b9bc;
    float: left;
}

.online-btn-box li div {
    display: inline-block;
    width: 68px;
    height: 60px;
    margin-top: 18px;
}

.online-btn-box li p {
    display: inline-block;
    width: 100%;
    line-height: 30px;
    margin-top: 2px;
    color: #474747;
    font-size: 16px;
}

.online-btn .online-btn-box .border-b {
    width: 175px;
    height: 125px;
    border-bottom: 1px solid #b5b9bc;
    float: left;
}

.online-btn .online-btn-box .border-r {
    width: 175px;
    height: 125px;
    border-right: 1px solid #b5b9bc;
    float: left;
}

/*sec20*/
.sec20 .content {
    font-size: 0px;
    text-align: center;
    color: #ffffff;
}

.sec20 .text > div {
    display: inline-block;
}

.sec20 .hang > div {
    display: inline-block;
}

.sec20 .pic {
    margin-right: 4px;
    position: relative;
}

.sec20 .content .wenzi {
    position: absolute;
    bottom: 0px;
    width: 95%;
    height: 60px;
    font-size: 16px;
    line-height: 60px;
    text-align: left;
    padding-left: 5%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, right top, right bottom, color-stop(0, rgba(0, 0, 0, 0.1)), color-stop(1, rgba(0, 0, 0, 0.8)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0, 8) 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#19000000', endColorStr='#E5000000', gradientType='0');
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%)
}

.sec20 .content .rightwenzi {
    height: 40px;
    line-height: 30px;
}

.sec20 .right .hang:first-child {
    margin-bottom: 4px;
}

.sec20 .right .hang .pic:first-child {
    margin-right: 4px;
}

/*sec21*/
.sec21 .itm-wrap {
    text-align: center;
    background: #eee;
    padding: 50px 0;
}

.sec21 .itm-wrap .itm {
    display: inline-block;
    width: 350px;
    height: 520px;
    text-align: center;
    vertical-align: middle;
}

.sec21 .itm-wrap .itm.img {
    margin: 0 10px;
    position: relative;
    background: url("../images/den.png") center top no-repeat;
}

.sec21 .itm-block {
    display: inline-block;
    width: 336px;
    height: 208px;
    padding: 50px 30px 10px 30px;
    border: 1px dashed #34bbcf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.sec21 .itm-block h1{
    font-size: 24px;
    color: #34bbcf;
    font-style: normal;
}
.sec21 .itm-block p{
    margin-top: 20px;
    font-size: 16px;
    line-height: 28px;
    color: #666666;
}
.sec21 .words{
    width: 280px;
    color: #fff;
    position: absolute;
    top:76px;
    left: 37px;
}
.sec21 .words h1{
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 20px;
    color: #f7c34d;
}
.sec21 .words p{
    font-size: 14px;
    line-height: 24px;
}
.sec21 .btn-primary{
    position: absolute;
    top: 303px;
    left: 18px;
    background: #f7c34d;
    font-size: 18px;
    padding: 13px 42px;
}
/*sec22*/
.sec22 .content {
    position: relative;
}

.sec22 .show {
    display: block;
    width: 460px;
    height: 286px;
    margin: 0px auto;
    border: 1px solid #e7e7e7;
    overflow: hidden;
    position: relative;
}

.sec22 .show:hover span {
    display: block;
}

.sec22 .show span {
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    background: rgba(0, 0, 0, .2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000);
    position: absolute;
    /*display: none;*/
}

.sec22 .show button {
    cursor: pointer;
    width: 116px;
    height: 34px;
    font-size: 16px;
    color: #fff;
    line-height: 34px;
    border-radius: 2px;
    background: #ff7e54;
    border: 0px;
    padding: 0px;
    margin-top: 126px;
}

.sec22 .swiper-container {
    width: 1000px;
    height: 342px;
    color: #fff;
    text-align: center;
}

.sec22 .pagination {
    display: none;
}

.sec22 .arrow-left {
    background: url("../images/arrows.png") no-repeat -6px -10px;
    position: absolute;
    left: 130px;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -550px;
    width: 30px;
    height: 40px;
}

.sec22 .arrow-right {
    background: url("../images/arrows.png") no-repeat -6px -64px;
    position: absolute;
    right: 130px;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: 510px;
    width: 30px;
    height: 40px;
}

.sec22 .swiper-slide a {
    cursor: default;
}
.sec22 h1{
    font-style: normal;
    font-size: 18px;
    color: #474747;
    text-align: left;
    margin-bottom: 16px;
    padding-left: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
    /*  ?  */
.left-fixed {
    position: fixed;
    width: 150px;
    height: 440px;
    top: 80px;
    left: 0;
    background: url("../images/lycbl.gif") no-repeat center;
    background-size: 150px 440px;
    z-index: 30;
}

.left-fixed a.click-ask {
    position: absolute;
    width: 116px;
    height: 36px;
    left: 17px;
    bottom: 66px;
}

.left-fixed a.free-rgt {
    position: absolute;
    width: 116px;
    height: 36px;
    left: 17px;
    bottom: 16px;
}

.right-fixed {
    position: fixed;
    width: 155px;
    height: 478px;
    top: 80px;
    right: 0;
    background: url("../images/right-fix.png") no-repeat center;
    background-size: 155px 478px;
    z-index: 30;
}

.right-fixed a.click-ask {
    position: absolute;
    width: 155px;
    height: 420px;
    left: 0;
    top: 0;
}

.right-fixed a.free-rgt {
    position: absolute;
    width: 155px;
    height: 58px;
    left: 0;
    bottom: 125px;
}
.bottom-fixed{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
    height: 108px;
    width: 100%;
    background-image: url("../images/dbtg.png");
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.bottom-middow{
    display: inline-block;
    height: 100%;
    width: 1200px;
    position: relative;
}
.bottom-middow input{
    width: 155px;
    height: 36px;
    border-radius: 3px;
    border: 0;
    background-color: #dcf4db;
    font-size: 12px;
    color: #949494;
    padding: 0 10px;
}
.in-a{
    position: absolute;
    bottom: 12px;
    left: 480px;
}
.in-b{
    position: absolute;
    bottom: 12px;
    left: 670px;
}
.free-regist-btn{
    position: absolute;
    bottom: 12px;
    left: 874px;
    width: 102px;
    height: 36px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    background-color: #fc9e0d;
}
/*新做的用户注册*/
.ueser-box{
    height: 40px;
    margin-top: 40px;
    width: 100%;
}
.urser-cont{
    width: 703px;
    margin: 0 auto;
    height: 40px;
    border-radius: 4px;
    position: relative;
}
.user-icon{
    width: 44px;
    height: 40px;
    line-height: 40px;
    background-color: #ff6a4b;
}
.user-icon1{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.user-icon img{
    padding: 0;
    vertical-align: middle;
    text-align: center;
}
.urser-cont>div{
    float: left;
}
.uer-info{
    line-height: 38px;
    border: 1px solid  #ff6a4b;
    background: #fff;
}
.uer-info input{
    font-size: 16px;
    color: #bababa;
    line-height: 28px;
    padding: 2px 5px;
    border: 0;
    outline: none;
}
.user-name input{
    width: 120px;
}
.user-phone input{
    width: 190px;
}
.user-btn{
    width: 140px;
    height: 100%;
}
.user-btn a{
    display: block;
    height: 100%;
    line-height: 40px;
    color: #fff;
}
.user-btn.try{
    background: #ff6a4b;
}
.user-btn.set-school{
    background: #35d48f;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.urser-cont img.hot{
    position: absolute;
    padding: 0;
    right: -20px;
    top:-20px;
}