/*
* @Author: shawn
* @Date:   2018-02-28 13:52:55
* @Last Modified by:   shawn
* @Last Modified time: 2018-02-28 13:53:51
*/

.a {
    width: 10px;
    height: 10px;
    height: 20px;
}

/*开始*/
.b {
    width: 10px;
    height: 10px;
    height: 20px;
}

.c {
    width: 10px;
    height: 10px;
    height: 20px;
}

.d {
    width: 10px;
    height: 10px;
    height: 20px;
}