<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vue</title>
</head>

<body>
    <script src="vue.js"></script>
    <!-- <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script> -->
    <div id="app">
        <p>
            全选：
        </p>
        <input type="checkbox" id="checkbox" v-model="checked" @click="changeAllChecked()">
        <label for="checkbox">
            {{checked}}
        </label>
        <p>
            多个复选框：
        </p>
        <input type="checkbox" id="Runoob" value="Runoob" v-model="checkedNames">
        <label for="Runoob">
            Runoob
        </label>
        <input type="checkbox" id="Google" value="Google" v-model="checkedNames">
        <label for="Google">
            Google
        </label>
        <input type="checkbox" id="taobao" value="Taobao" v-model="checkedNames">
        <label for="taobao">
            taobao
        </label>
        <br>
        <span>选择的值为:{{checkedNames}}</span>
    </div>
    <script>
    new Vue({
        el: '#app',
        data: {
            checked: false,
            checkedNames: [],
            checkedArr: ["Runoob", "Google", "Taobao"]
        },
        methods: {
            changeAllChecked: function() {
                if (this.checked) {
                    this.checkedNames = this.checkedArr
                } else {
                    this.checkedNames = []
                }
            }
        },
        watch: {
            checkedNames: function() {
                if (this.checkedNames.length == this.checkedArr.length) {
                    this.checked = true
                } else {
                    this.checked = false
                }
            }
        }
    })
    </script>

</html>